
<form>


    <div class="form-group">
      <label for="">Contract type:</label>
      &nbsp;
      <input class="form-check-input" type="radio" [(ngModel)]="valueType" name="gob" value="fulltime" [checked]="true" (change)="onItemChange($event.target.value)"/>
     <label for="">Fulltime</label>
     <input class="form-check-input" type="radio" [(ngModel)]="valueType" name="gob" value="parttime" [checked]="true" (change)="onItemChange($event.target.value)"/>
      <label for="">Parttime</label>


    </div>

    <div class="form-group">
        <label for="">Department:</label>

        <p></p>
      <input class="form-check-input" type="radio" [(ngModel)]="valueDep" name="gob" value="admin" [checked]="true" (change)="onItemChange($event.target.value)"/>
      &nbsp;
      <label for="">Adminstartion</label>
     <input class="form-check-input" type="radio" [(ngModel)]="valueDep" name="gob" value="service" [checked]="true" (change)="onItemChange($event.target.value)"/>
     &nbsp;
     <label for="">Servcies</label>

      <p></p>

      <input class="form-check-input" type="radio" [(ngModel)]="valueDep" name="gob" value="product" [checked]="true" (change)="onItemChange($event.target.value)"/>
      &nbsp;
      <label for="">Production</label>
     <input class="form-check-input" type="radio" [(ngModel)]="valueDep" name="gob" value="finans" [checked]="true" (change)="onItemChange($event.target.value)"/>
     &nbsp;
     <label for="">Financal</label>

    </div>
    <div class="form-group">
        <label for="">Years of expirnce</label>
        <input type="number" name="Exyears"  [(ngModel)]="valueExyears"  class="form-control" id="" aria-describedby="" placeholder="Enter">
    </div>

    <div class="form-group">
        <label for="">job title</label>
        <input type="text" name="Jobtitle"  [(ngModel)]="valueJobtitle" class="form-control" id="" aria-describedby="">
    </div>


    <div class="form-group">
        <label for="">job desc</label>
        <input type="text" name="Jobdesc"  [(ngModel)]="valueJobdesc" class="form-control" id="" aria-describedby="" >
    </div>


    <button type="submit" (click)="addRecruitment()" class="btn btn-primary">Submit</button>
</form>