<table class="table ttable">
    <tbody>
      <tr>
        <td >
          <b>{{ evet?.name }}</b>
        </td>

        <td>
            <b>{{ evet?.record }}</b>
        </td>

        <td>
            <button class="btn btn-primary">Accept</button>
        </td>
        <td>
            <button class="btn btn-danger">Reject</button>
        </td>
      </tr>
      </tbody>
  </table>


  <table class="table ttable">
    <tbody>
      <tr>
        <td >
          <b>{{ evet?.name }}</b>
        </td>

        <td>
            <b>{{ evet?.record }}</b>
        </td>
        <td>

            <input type="text" class="form-control" placeholder="comment">

        </td>

        <td>
            <button class="btn btn-primary">Accept</button>
        </td>
        <td>
            <button class="btn btn-danger">Reject</button>
        </td>
      </tr>
      </tbody>
  </table>



  <table class="table ttable">
    <tbody>
      <tr>
        <td >
          <b>{{ evet?.name }}</b>
        </td>

        <td>
            <b>{{ evet?.record }}</b>
        </td>


        <td>
            <button class="btn btn-primary">Accept</button>
        </td>
        <td>
            <button class="btn btn-danger">Reject</button>
        </td>
      </tr>
      </tbody>
  </table>

  